/* Import Google font - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --blue-color: #4070f4;
  --grey-color: #707070;
  --grey-color-light: #aaa;
}

body {
  background-color: #e7f2fd;
  transition: all 0.5s ease;
}

body.dark {
  background-color: #333;
}

body.dark {
  --white-color: #333;
  --blue-color: #fff;
  --grey-color: #f2f2f2;
  --grey-color-light: #aaa;
}

/* navbar */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 30px;
  z-index: 1000;
  box-shadow: 0 0 2px var(--grey-color-light);
}

.logo_item {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-size: 22px;
  font-weight: 500;
  color: var(--blue-color);
}

.navbar img {
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
}

.search_bar {
  height: 47px;
  max-width: 430px;
  width: 100%;
}

.search_bar input {
  height: 100%;
  width: 100%;
  border-radius: 25px;
  font-size: 18px;
  outline: none;
  background-color: var(--white-color);
  color: var(--grey-color);
  border: 1px solid var(--grey-color-light);
  padding: 0 20px;
}

.navbar_content {
  display: flex;
  align-items: center;
  column-gap: 25px;
}

.navbar_content i {
  cursor: pointer;
  font-size: 20px;
  color: var(--grey-color);
}


.sidebar {
  background-color: var(--white-color);
  width: 260px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  padding: 78px 5px;
  z-index: 100;
  /*overflow-y: scroll;*/
  overflow: hidden;
  box-shadow: 0 0 1px var(--grey-color-light);
  transition: transform 0.3s ease-in-out;
}

.sidebar.close {
  padding: 78px 0;
  width: 80px;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

.menu_content {
  position: relative;
  height: 100%;
}

.menu_title {
  margin: 15px 0;
  padding: 0 20px;
  font-size: 18px;
}

.sidebar.close .menu_title {
  padding: 6px 30px;
}

.menu_title::before {
  color: var(--grey-color);
  white-space: nowrap;
}

.menu_dahsboard::before {
  content: "Menu";
}

.menu_editor::before {
  content: "Informações Uteis";
}

.menu_setting::before {
  content: "Contato";
}

.sidebar.close .menu_title::before {
  content: "";
  position: absolute;
  height: 2px;
  width: 18px;
  border-radius: 12px;
  background: var(--grey-color-light);
}

.menu_items {
  padding: 0;
  list-style: none;
}

.navlink {
  font-weight: normal;
  /* Padrão */
}

.navlink.bold {
  font-weight: bold;
  /* Deixa o texto em negrito */
}

.navlink_icon {
  position: relative;
  font-size: 22px;
  min-width: 50px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;
}

.navlink_icon::before {
  content: "";
  position: absolute;
  height: 100%;
  width: calc(100% + 100px);
  left: -20px;
}

.navlink_icon:hover {
  background: var(--blue-color);
}

.sidebar .nav_link {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 4px 0px;
  border-radius: 8px;
  text-decoration: none;
  color: var(--grey-color);
  white-space: nowrap;
}

.sidebar.close .navlink {
  display: none;
}

.nav_link:hover {
  color: var(--white-color);
  background: var(--blue-color);
}

.sidebar.close .nav_link:hover {
  background: var(--white-color);
}

.submenu_item {
  cursor: pointer;
}

.submenu {
  display: none;
}

.submenu_item .arrow-left {
  position: absolute;
  right: 10px;
  display: inline-block;
  margin-right: auto;
}

.sidebar.close .submenu {
  display: none;
}

.show_submenu~.submenu {
  display: block;
}

.show_submenu .arrow-left {
  transform: rotate(90deg);
}

.submenu .sublink {
  padding: 1px 2px 0px 18px;
}

.bottom_content {
  position: static;
  bottom: 100px;
  left: 0;
  width: 260px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.bottom {
  position: absolute;
  display: flex;
  align-items: center;
  left: 0;
  justify-content: space-around;
  padding: 18px 0;
  text-align: center;
  width: 100%;
  color: var(--grey-color);
  border-top: 1px solid var(--grey-color-light);
  background-color: var(--white-color);
}

.bottom i {
  font-size: 20px;
}

.bottom span {
  font-size: 18px;
}

.sidebar.close .bottom_content {
  width: 80px;
  left: 0px;
}

.sidebar.close .bottom span {
  display: none;
}

.sidebar.hoverable .collapse_sidebar {
  display: none;
}

#sidebarOpen {
  display: none;
}

.map-icon {
  margin-left: 8px;
  color: #007bff; /* Cor do ícone */
  text-decoration: none;
  font-size: 1.2em;
}

.map-icon:hover {
  color: #0056b3; /* Cor do ícone ao passar o mouse */
}


.content_area {

  padding: 10px;
  width: calc(100% - 30%);
  min-height: 84vh;
  background: #f4f4f4;
  margin: 84px 0px 0px 270px;
  transition: margin-left 0.5s ease;
  font-size: 14px;
  /*Ajuste o tamanho da fonte conforme necessário */

}

.content_area li {
  padding: 10px;
  border-bottom: 1px solid #ddd; /* Linha separadora */
  margin-bottom: 10px;
}


.content_area ul li {
  white-space: nowrap;
  /* Impede a quebra de linha */
  overflow: hidden;
  /* Garante que o texto longo não transborde */
  text-overflow: ellipsis;
  /* Adiciona '...' quando o texto for muito longo */
  margin-bottom: 10px;
  /* Espaço entre os itens */
}

.content_area ul li b {
  display: inline-block;
  /* Garante que o texto em negrito fique ao lado do conteúdo */
  margin-right: 5px;
  /* Espaço entre o título e o valor */
  font-weight: bold;
  /* Negrito */
}


.highlighted {
  font-size: 1.0em;
  /* Tamanho maior para o nome */
  font-weight: bold;
  /* Deixar o nome em negrito */
  color: #007BFF;
  /* Cor de destaque, você pode mudar para a cor que preferir */
  text-transform: uppercase;
  /* Deixar o nome em maiúsculas */
  padding-bottom: 5px;
  /* Espaço abaixo do nome */

}

.highlighted {
  font-size: 1.2em;
 
  align-items: center;
  
}


/* Quando o menu fechar */
.sidebar.close~.content_area {
  width: calc(150% - 80px);
  margin-left: 86px;
}


/* Garantir que os ícones fiquem visíveis e centralizados */
.sidebar.close .nav_link {
  justify-content: center;
  padding: 10px 0;
}

/* Evitar que os submenus abram quando a sidebar está fechada 
.sidebar.close .submenu {
  display: none !important;
}*/

.detalhes-btn {
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.detalhes-btn:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  #sidebarOpen {
    font-size: 25px;
    display: block;
    margin-right: 10px;
    cursor: pointer;
    color: var(--grey-color);
  }

  .search_bar {
    display: none;
  }

  .sidebar.close .bottom_content {
    width: 80px;

  }


}
/* Banner Inicial */
.banner {
  width: calc(100% + 52%);
  height: 100vh;
  background: url('images/banner.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  position: relative;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Efeito de sobreposição */
}

.banner-content {
  position: relative;
  z-index: 1;
  padding: 20px;
  margin: -485px -70px 0px 8px;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.banner p {
  font-size: 1.2rem;
}

/* Esconder elementos quando necessário */
.hidden {
  display: none !important;
}
